server:
  replicas: 2

  service:
    type: ClusterIP

  extraArgs:
    - --insecure=false

  config:
    exec.enabled: "false"

controller:
  resources:
    requests:
      cpu: 250m
      memory: 512Mi

repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi

applicationSet:
  enabled: true

dex:
  enabled: false
