server:
  replicas: 2

  service:
    type: ClusterIP

  extraArgs:
    - --insecure=false

  config:
    exec.enabled: "false"

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

controller:
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 750m
      memory: 768Mi

repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi

applicationSet:
  enabled: true

dex:
  enabled: false
